{
  "Entries": [
    {
      "RequestUri": "/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mo-resources-eus/providers/Microsoft.Automation/automationAccounts/mo-aaa-eus2/softwareUpdateConfigurations?api-version=2017-05-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mo-resources-eus/providers/Microsoft.Automation/automationAccounts/mo-aaa-eus2/softwareUpdateConfigurations/mo-onetime-05\",\r\n      \"name\": \"mo-onetime-05\",\r\n      \"properties\": {\r\n        \"updateConfiguration\": {\r\n          \"operatingSystem\": \"Linux\",\r\n          \"windows\": null,\r\n          \"linux\": {\r\n            \"includedPackageClassifications\": \"Critical, Security\",\r\n            \"excludedPackageNameMasks\": null\r\n          },\r\n          \"duration\": \"PT2H\",\r\n          \"azureVirtualMachines\": null,\r\n          \"nonAzureComputerNames\": [\r\n            \"server-01\",\r\n            \"server-02\"\r\n          ]\r\n        },\r\n        \"frequency\": \"OneTime\",\r\n        \"startTime\": \"2018-05-23T02:24:00-07:00\",\r\n        \"creationTime\": \"2018-05-23T02:14:50.377-07:00\",\r\n        \"lastModifiedTime\": \"2018-05-23T02:15:00.783-07:00\",\r\n        \"provisioningState\": \"Failed\",\r\n        \"nextRun\": null\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mo-resources-eus/providers/Microsoft.Automation/automationAccounts/mo-aaa-eus2/softwareUpdateConfigurations/mo-onetime-04\",\r\n      \"name\": \"mo-onetime-04\",\r\n      \"properties\": {\r\n        \"updateConfiguration\": {\r\n          \"operatingSystem\": \"Linux\",\r\n          \"windows\": null,\r\n          \"linux\": {\r\n            \"includedPackageClassifications\": \"Critical, Security\",\r\n            \"excludedPackageNameMasks\": null\r\n          },\r\n          \"duration\": \"PT2H\",\r\n          \"azureVirtualMachines\": [\r\n            \"/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mo-compute/providers/Microsoft.Compute/virtualMachines/mo-vm-l-01\",\r\n            \"/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mo-compute/providers/Microsoft.Compute/virtualMachines/mo-vm-l-02\"\r\n          ],\r\n          \"nonAzureComputerNames\": [\r\n            \"server-01\",\r\n            \"server-02\"\r\n          ]\r\n        },\r\n        \"frequency\": \"OneTime\",\r\n        \"startTime\": \"2018-05-23T02:20:00-07:00\",\r\n        \"creationTime\": \"2018-05-23T02:10:55.507-07:00\",\r\n        \"lastModifiedTime\": \"2018-05-23T02:11:07.163-07:00\",\r\n        \"provisioningState\": \"Failed\",\r\n        \"nextRun\": null\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14980"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "422b6c61-95b0-4213-b3be-7282315df71d"
  }
}