{
  "Entries": [
    {
      "RequestUri": "/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mo-resources-eus/providers/Microsoft.Automation/automationAccounts/mo-aaa-eus2/softwareUpdateConfigurationRuns?api-version=2017-05-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mo-resources-eus/providers/Microsoft.Automation/automationAccounts/mo-aaa-eus2/softwareUpdateConfigurationRuns/cc554c70-3057-4c00-bcd9-456296dba85d\",\r\n      \"name\": \"cc554c70-3057-4c00-bcd9-456296dba85d\",\r\n      \"type\": null,\r\n      \"properties\": {\r\n        \"softwareUpdateConfiguration\": {\r\n          \"name\": \"mo-onetime-02\"\r\n        },\r\n        \"status\": \"Succeeded\",\r\n        \"configuredDuration\": \"PT2H\",\r\n        \"osType\": \"Linux\",\r\n        \"startTime\": \"2018-05-23T00:59:40.3722822-07:00\",\r\n        \"endTime\": \"2018-05-23T01:00:16.17-07:00\",\r\n        \"computerCount\": 2,\r\n        \"failedCount\": 0,\r\n        \"creationTime\": \"2018-05-23T00:59:40.3722822-07:00\",\r\n        \"lastModifiedBy\": null,\r\n        \"lastModifiedTime\": \"2018-05-23T01:00:52.92-07:00\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mo-resources-eus/providers/Microsoft.Automation/automationAccounts/mo-aaa-eus2/softwareUpdateConfigurationRuns/a99b37d2-f257-4090-b45f-ef66b95bc52b\",\r\n      \"name\": \"a99b37d2-f257-4090-b45f-ef66b95bc52b\",\r\n      \"type\": null,\r\n      \"properties\": {\r\n        \"softwareUpdateConfiguration\": {\r\n          \"name\": \"mo-onetime-02\"[...]
